[submodule "src/main/java/gameEngine"]
	path = src/main/java/gameEngine
	url = https://github.com/DBall8/GameEngine.git
[submodule "src/main/java/physicsEngine"]
	path = src/main/java/physicsEngine
	url = https://github.com/DBall8/PhysicsEngine.git
[submodule "src/main/java/networkManager"]
	path = src/main/java/networkManager
	url = https://github.com/DBall8/NetworkManager.git
